{% extends "base.html" %}

{% block main_title %}<div class="row"><div class="col-sm-offset-2 col-sm-10"><i class="fa fa-list"></i> {{ title }}</div></div>{% end %}

{% block content %}
<form class="form-horizontal" method="post">
  {% raw xsrf_form_html() %}
  <div class="form-group">
    <label name="password" for="password" class="col-sm-2 control-label">更改密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" id="password" placeholder="更改密码" />
    </div>
  </div>
  <div class="form-group">
    <label name="confirm_password" for="confirm_password" class="col-sm-2 control-label">确认密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="确认密码" />
    </div>
  </div>
  <div class="form-group">
    <label name="layout" for="layout" class="col-sm-2 control-label">布局</label>
    <div class="col-sm-10">
      <div class="row col-sm-6" id="layout-display" style="display: none;"></div>
      <select class="form-control" name="layout">
        <option></option>
        {% for line in layout_options %}<option data-display="{{ dereference(line['display'])['path'] }}" value="{{ line['_id'] }}"{% if current_user.layout and line['_id'] == current_user.layout._id %} selected{% end %} >{{ line['name'] }}</option>{% end %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label name="says" for="says" class="col-sm-2 control-label">引述标示</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="says" id="says" placeholder="引述标示，请尽量使用英文"{% if current_user.says %} value="{{ current_user.says }}"{% end %} />
    </div>
  </div>
  <div class="form-group">
    <label name="pair_code" for="pair_code" class="col-sm-2 control-label">配对</label>
    <div class="col-sm-10">
      {% if current_user.pair %}
      <div class="form-control-static inline-block">您目前的配对是 {{ current_user.pair.name }} ( {{ current_user.pair.account }} ) </div>
      <a href="#" id="release-pair" class="btn btn-warning">释放</a>
      {% else %}
      {% if pair_code %}<p class="form-control-static">您的配对代码是 {{ pair_code.code }}</p>{% end %}
      <input type="text" class="form-control" name="pair_code" id="pair_code" placeholder="配对代码" />
      {% end %}
    </div>
  </div>
  <div class="form-group failure" style="display: none;">
    <div class="col-sm-offset-2 col-sm-10">
      <p class="failure"></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">更改设置</button>
    </div>
  </div>
</form>
{% end %}