body {
    padding-top: 75px;
    min-height: 360px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-title {
    border-bottom: 2px solid #cccccc;
    margin: 10px -15px;
    padding: 0px 15px 10px;
}

#login-form-base {
    display: table;
    margin: 0 auto;
}

#login-form-base .view,.mobi-switches {
    display: none;
    width: 250px;
    margin: 38px 0;
}

#login-form-base .view.selected {
    display: block;
}

#login-form-base form p {
    margin: 15px 0px;
}

#login-form-base button {
    width: 100%;
}

.mobi-font {
    display: block;
}

.desk-font {
    display: none;
}

@media (min-width :768px) {
    .mobi-font {
        display: none;
    }

    .desk-font {
        display: block;
    }
}

#cal-editer-display {
    margin-bottom: 15px;
}

#cal-editer .main-title {
    margin: 15px -15px;
}

.inline-block {
    display: inline-block;
}